<launch>

    <arg name="model"/>
    <arg name="sim" default="1"/>
    <arg name="config_path"/>
    <arg name="uri" default="radio://0/100/2M/0xE7E7E7E7E7"/>
    <arg name="cmd_frequency" default="100"/>
    <!--Initial location-->
    <arg name="init_x" default="0"/>
    <arg name="init_y" default="0"/>

    <!-- Add odometry node -->
    <group ns="$(arg model)">

        <arg name="mass" value="0.039"/>

        <include file="$(find multi_mav_manager)/launch/robot_common.launch">
            <arg name="config_path" value="$(arg config_path)"/>
            <arg name="mass" value="$(arg mass)"/>
            <arg name="sim" value="$(arg sim)"/>
            <arg name="model" value="$(arg model)"/>
            <arg name="robot_type" value="crazyflie"/>
        </include>

        <!-- For communication -->
        <group unless="$(arg sim)">
            <node pkg="nodelet"
                  type="nodelet"
                  args="load crazyflie_interface/SO3CmdToCrazyflie standalone_nodelet"
                  name="so3cmd_to_crazyflie"
                  required="true"
                  clear_params="true"
                  output="screen">
                <remap from="~odom" to="odom"/>
                <remap from="~so3_cmd" to="so3_cmd"/>
                <remap from="~cmd_vel" to="cmd_vel2"/>
                <rosparam file="$(find crazyflie_interface)/config/crazyflie.yaml"/>
            </node>
        </group>

        <node name="cmd_vel_throttler"
              type="throttle"
              pkg="topic_tools"
              args="messages /$(arg model)/so3cmd_to_crazyflie/cmd_vel_fast/ $(arg cmd_frequency) /$(arg model)/cmd_vel2/"/>

        <!-- Simulator -->
        <node pkg="modquad_simulator" type="modquad_sim.py" name="modquad_sim" output="screen">
            <param name="~robot_id" value="$(arg model)"/>
            <param name="~init_x" value="$(arg init_x)" type="double"/>
            <param name="~init_y" value="$(arg init_y)" type="double"/>
        </node>

        <!--Dock-->
        <node pkg="dock_manager" type="dock_hover_control.py" name="dock_cmd" output="screen">
            <param name="~robot_id" value="$(arg model)"/>
        </node>
    </group>
</launch>
